.nb-theme-default nb-card.status-success nb-card-header {
    background-color: #00d68f;
    border-bottom-width: 0;
    border-bottom-color: #00d68f;
    color: #ffffff;
}
.nb-theme-default nb-card.status-success nb-card-header {
    background-color: #00d68f;
    border-bottom-width: 0;
    border-bottom-color: #00d68f;
    color: #ffffff;
}
.nb-theme-default nb-card-header {
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #edf1f7;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #1a2138;
    font-family: Open Sans, sans-serif;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
}
.nb-theme-default nb-card-body {
    -webkit-box-flex: 1;
    flex: 1;
    -ms-flex: 1 1 auto;
    overflow: auto;
    padding: 1rem 1.25rem;
    position: relative;
    scrollbar-face-color: #e4e9f2;
    scrollbar-track-color: #f7f9fc;
}
.nb-theme-default nb-card-footer {
    padding: 1rem 1.25rem;
    border-top: 1px solid #edf1f7;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
