<form class="example-form">
  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <input nbInput fullWidth shape="round" placeholder="Username" [(ngModel)]="username" name="username" required>
      </td>
    </tr>
    <tr>
      <td>
        <input nbInput fullWidth shape="round" placeholder="Password" [(ngModel)]="password" type="password" name="password" required></td>
    </tr>
  </table>
</form>
<button nbButton hero status="primary" (click)="login()">Login</button>
<a [routerLink]="['/registration']">
  Register
</a>