<div class="row">
  <div class="col-md-4"></div>
    <div style="padding:20px;background-color:#4ca6ff52;" class="col-md-4">
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <input nbInput fullWidth shape="round" placeholder="Username" [(ngModel)]="username" name="username" required>
          </td>
        </tr>
        <tr>
          <td>
            <input nbInput fullWidth shape="round" placeholder="Password" [(ngModel)]="password" type="password" name="password" required></td>
        </tr>
      </table>
    </form>
    <button nbButton hero status="primary" (click)="login()">Login</button>
    <a [routerLink]="['/registration']">
      Register
    </a>
  </div>
</div>
